<div class='container'>
    <div class='body'>
        <header-directive></header-directive>

        <div class="blog-entries">
            <card-directive item="entry" ng-repeat="entry in entries"></card-directive>
        </div>
        <button ng-click='create = true' ng-show='!create && user'>Create New</button>
        <!--<div class='blog-entries' ng-show='!create'>
            <div ng-repeat='entry in entries'>
                <a ui-sref='entry({id: entry.id})'>{{entry.title}}</a>
            </div>
            <button ng-click='create = true' ng-show='!create && user'>Create New</button>
        </div>-->

        <form ng-show='create'>
            <div>
                <label>Title:</label>
                <input type='text' name='title' ng-model='entry.title'/>
            </div>
            <div>
                <label>Content:</label>
                <textarea type='text' name='content' ng-model='entry.contentA'></textarea>
            </div>
            <div>
                <label>Image:</label>
                <input type='text' name='image' ng-model='entry.imageA'/>
                <input type='text' name='description' placeholder='Image Description' ng-model='entry.descriptionA'/>
            </div>
            <div>
                <label>Image:</label>
                <input type='text' name='image' ng-model='entry.imageB'/>
                <input type='text' name='description' placeholder='Image Description' ng-model='entry.descriptionB'/>
            </div>
            <div>
                <label>Content:</label>
                <textarea type='text' name='content' ng-model='entry.contentB'></textarea>
            </div>
            <div>
                <label>Image:</label>
                <input type='text' name='image' ng-model='entry.imageC'/>
                <input type='text' name='description' placeholder='Image Description' ng-model='entry.descriptionC'/>
            </div>
            <div>
                <label>Image:</label>
                <input type='text' name='image' ng-model='entry.imageD'/>
                <input type='text' name='description' placeholder='Image Description' ng-model='entry.descriptionD'/>
            </div>
            <div>
                <label>Content:</label>
                <textarea type='text' name='content' ng-model='entry.contentC'></textarea>
            </div>
            <div>
                <label>Image:</label>
                <input type='text' name='image' ng-model='entry.imageE'/>
                <input type='text' name='description' placeholder='Image Description' ng-model='entry.descriptionE'/>
            </div>
            <div>
                <label>Image:</label>
                <input type='text' name='image' ng-model='entry.imageF'/>
                <input type='text' name='description' placeholder='Image Description' ng-model='entry.descriptionF'/>
            </div>
            <button ng-click='createEntry(entry)'>Submit</button>
            <button ng-click='create = false'>Cancel</button>
        </form>

        <footer-directive></footer-directive>
    </div>
</div>