<div class='container'>
    <header-directive></header-directive>
    <div class='body'>
        <carousel-directive></carousel-directive>

        <div class='about-container' id='about'>
            <img class='profile' src='../public/image/about.jpg'>
            <p class='about-text'>An avid hiker and backpacker, I have been exploring the Southwest for 12 years. My early experiences were in the mountains and high desert of Northern Utah. As my boundaries expanded, the Utah and Arizona deserts became my first love. I have hiked miles and miles throughout these gorgeous landscapes, and I am excited for the opportunity to show them to you.</p>
        </div>
    </div>

    <logout-directive></logout-directive>

    <footer-directive></footer-directive>
</div>