<header-directive></header-directive>

<div class='search' ng-show='!create'>
    Search <input type='text' ng-model='tourFilter.title'/>
</div>

<div class='tours' ng-show='!create'>
    <div class='tour-info' ng-repeat='tour in tours | filter: tourFilter'>
        <img class='tour-img' src='{{tour.image}}'>
        <a class='tour-title' ui-sref='tour({id: tour.id})'>{{tour.title}}</a>
    </div>
    <button ng-click='create = true' ng-show='!create && user'>Create New</button>
</div>

<form ng-show='create'>
    <div>
        <label>Title:</label>
        <input type='text' name='title' ng-model='tour.title'/>
    </div>
    <div>
        <label>Content:</label>
        <textarea type='text' name='content' ng-model='tour.content'></textarea>
    </div>
    <div>
        <label>Gear:</label>
        <textarea type='text' name='gear' ng-model='tour.gear'></textarea>
    </div>
    <div>
        <label>Price:</label>
        <input type='text' name='price' ng-model='tour.price'/>
    </div>
    <div>
        <label>Image:</label>
        <input type='text' name='image' ng-model='tour.image'/>
    </div>
    <div>
        <select name='tourtype' ng-model='tour.tourtype'>
            <option value=1>Day Trip</option>
            <option value=2>Multi-Day Trip</option>
        </select>
    </div>
    <button ng-click='createTour(tour)'>Submit</button>
    <button ng-click='create = false'>Cancel</button>
</form>

<footer-directive></footer-directive>