@import url('https://fonts.googleapis.com/css?family=Amatica+SC:400,700|Open+Sans');

$primary-font: 'Amatica SC', cursive;
$secondary-font: 'Open Sans', sans-serif;
$primary-weight: 700;
$secondary-weight: 400;
$primary-color: #404040;
$secondary-color: #74CCD1;

body {
    margin: 0;
    padding: 0;
    height: 100%;
}
.container {
    min-height: 100%;
    position: relative;
}
.body {
    padding: 10px;
    padding-bottom: 100px;
}

// home view //
.title {
    font-family: $secondary-font;
    font-weight: $primary-weight;
    color: $primary-color;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
}

.navbar {
    background: #74CCD1;
    font-family: $secondary-font;
    color: $primary-color;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around
}
.links {
    display: flex;
    flex-direction: row;
    font-size: 15px;
}
a:link {
    text-decoration: none;
    color: $primary-color;
}
a:visited {
    text-decoration: none;
    color: $primary-color;
}
a:hover {
    text-decoration: none;
    color: #b3cccc;
}
a:active {
    text-decoration: none;
    color: $primary-color;
}

#carousel {
    .carousel-control.right {
        background-image: none;
    }
    .carousel-control.left {
        background-image: none;
    }
    .carousel-indicators {
        display: none;
    }
    margin-top: 70px;
}
.carousel {
    height: 450px;
    overflow: hidden;
}
.slider {
    height: 500px;
    display: flex;
}
#slides_control > div {
    height: 200px;
}
.img-container {
    width: 70%;
    margin: auto 15% auto 15%;
    display: flex;
    justify-content: center;
    align-content: center;
}
img {
   max-width: 100%;
   max-height: 100%;
}
#slides_control {
    position: absolute;
    width: 400px;
    left: 50%;
    top: 20px;
    margin-left: -200px;
}

//about section //
.about-container {
    height: 500px;
    margin: 25px 25px -100px 25px;
    display: flex;
    justify-content: center;
    align-content: space-between;
}
.profile {
    height: 300px;
    width: 300px;
    margin-right: 35px;
}
.about-text {
    height: 300px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

// blog page //
.blog-entries {
    height: 550px;
    display: flex;
    // justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
// .entry-title {
//     display: flex;
//     justify-content: space-between;
// }

// blog entry page //
.blog-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.blog-container p {
    width: 75%;
}
.blog-title {
    display: flex;
    justify-content: center;
}
.info {
    display: flex;
    justify-content: center;
}
.image-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.blog-images {
    width: 500px;
}

// tours page //
.search {
    /*position: absolute;*/
}
.tours {
    border-radius: 3px;
    background: white;
    // height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.tour-info {
    height: 400px;
    margin-top: 25px;
}

.tour-img {
    height: 325px;
    width: 325px;
    display: flex;
    justify-content: space-around;
}
.tour-title {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px auto 10px auto;
}

// tour entry page //
// .tour-container {

// }
.place {
    display: flex;
    justify-content: center;
}
// .info {

// }

// contact page
ul {
    list-style-type: none;
}



// footer
.footer {
    height: 100px;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: $primary-color;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logos {
    flex-direction: row;
}
.media {
    height: 30px;
    width: 30px;
    color: $secondary-color;
}