@import url('https://fonts.googleapis.com/css?family=Amatica+SC:400,700|Open+Sans');

$primary-font: 'Amatica SC', cursive;
$secondary-font: 'Open Sans', sans-serif;
$primary-weight: 700;
$secondary-weight: 400;
$primary-color: #404040;
$secondary-color: #74CCD1;

body {
    margin: 0;
    padding: 0;
    height: 100%;
}
.container {
    min-height: 100%;
    width: 80%;
    position: relative;
}
.body {
    padding: 10px;
    padding-bottom: 0;
}

.center-text {
    text-align: center;
}

// home view //
.title {
    font-family: $primary-font;
    font-weight: $primary-weight;
    color: $primary-color;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
}

.navbar {
    background: #74CCD1;
    font-family: $secondary-font;
    color: $primary-color;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around
}
.links {
    display: flex;
    flex-direction: row;
    font-size: 15px;
}
a:link {
    text-decoration: none;
    color: $primary-color;
}
a:visited {
    text-decoration: none;
    color: $primary-color;
}
a:hover {
    text-decoration: none;
    color: #b3cccc;
}
a:active {
    text-decoration: none;
    color: $primary-color;
}

#carousel {
    .carousel-control.right {
        background-image: none;
    }
    .carousel-control.left {
        background-image: none;
    }
    .carousel-indicators {
        display: none;
    }
    margin-top: 10px;
}
.carousel {
    height: 450px;
    overflow: hidden;
}
.slider {
    height: 500px;
    display: flex;
}
#slides_control > div {
    height: 200px;
}
.img-container {
    width: 70%;
    margin: auto 15% auto 15%;
    display: flex;
    justify-content: center;
    align-content: center;
}
img {
   max-width: 100%;
   max-height: 100%;
}
#slides_control {
    position: absolute;
    width: 400px;
    left: 50%;
    top: 20px;
    margin-left: -200px;
}

//about section //
.about-container {
    height: 365px;
    margin-top: 50px;
    margin-right: 25px;
    margin-left: 25px;
    display: flex;
    justify-content: center;
    align-content: space-between;
}
.profile {
    height: 300px;
    width: 300px;
    margin-right: 35px;
}
.about-text {
    height: 300px;
    width: 300px;
    font-family: $secondary-font;
    display: flex;
    justify-content: center;
    align-items: center;
}

// card //
.card {
    width: 300px;
    height: 300px;
    float: left;
    margin: 10px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);

    .card-img {
        overflow: hidden;
        height: 75%;
        position: relative;
    }

    .card-title {
        z-index: 5;
        position: absolute;
        bottom: 1px;
        left: 5px;
        color: white;
    }

    img {
        width: 100%;
    }
}

// blog page //
.blog-entries {
    /* padding-left: 2px; */
    /* width: 92%; */
    /* margin: auto; */
    /* padding: 20px; */
    overflow: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

// blog entry page //
.blog-container {
    margin-bottom: 85px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.blog-container p {
    width: 75%;
    margin-top: 55px;
}
.blog-title {
    display: flex;
    justify-content: center;
}
.info {
    margin-top: 15px;
    display: flex;
    justify-content: center;
}
.image-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.blog-images {
    width: 500px;
    height: 500px;
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.image-description {
    margin-top: 10px;
}

// tours page //
.search {
    position: absolute;
}
.tours {
    width: 100%;
    margin-top: 45px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.tour-info {
    height: 400px;
    margin-top: 25px;
}

.tour-img {
    height: 325px;
    width: 325px;
    display: flex;
    justify-content: space-around;
}
.tour-title {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px auto 10px auto;
}

// tour entry page //
.tour-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.tour-container p {
    margin-left: 25px;
    margin-right: 25px;
}
.place {
    display: flex;
    justify-content: center;
}
.tour-image {
    width: 650px;
    height: 650px;
}

// contact page //
ul {
    list-style-type: none;
}
.contact-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 340px;
}

// footer //
.footer {
    height: 100px;
    width: 100%;
    background-color: $primary-color;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logos {
    flex-direction: row;
}
.media {
    height: 30px;
    width: 30px;
    color: $secondary-color;
}